/* Custom Styles para la aplicación de Hogar Inteligente */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main-container {
    flex: 1 0 auto;
    padding-bottom: 20px;
}

.collection .collection-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collection .collection-item .actions a {
    margin-left: 15px;
    color: #00796b; /* Un tono de teal oscuro */
}

.collection .collection-item .actions a:hover {
    color: #004d40; /* Teal más oscuro al pasar el mouse */
}

.actuator-control {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fff;
}

.modal {
    max-width: 500px;
    border-radius: 8px;
}

.modal .modal-content h4 {
    margin-bottom: 2rem;
}
